@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-primary text-main px-6 py-2 rounded-button shadow-3d-soft transition-all duration-300 ease-in-out;
}

.btn:hover {
  @apply bg-accent shadow-3d-deep scale-105;
}

.card {
  @apply bg-card border shadow-3d-soft rounded-card p-6 transition-transform duration-300 ease-in-out;
}

.card-hover {
  @apply shadow-3d-deep scale-105;
}

.heading-primary {
  @apply text-main text-2xl font-bold;
}

.heading-secondary {
  @apply text-textSecondary text-lg font-medium;
}

.form-input {
  @apply bg-secondary border border-border rounded-card p-3 w-full shadow-3d-soft focus:outline-none focus:ring-2 focus:ring-accent;
}

.form-input:focus {
  @apply shadow-3d-deep;
}

.form-button {
  @apply bg-primary text-main px-4 py-2 rounded-button shadow-3d-soft transition-all duration-300 ease-in-out;
}

.form-button:hover {
  @apply bg-accent shadow-3d-deep;
}

.text_title {
  @apply text-3xl font-bold;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 10%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

.card_fade_in {
  view-timeline-name: --reveal;

  animation-name: fadeIn;
  animation-fill-mode: both;

  animation-timeline: --reveal;
  animation-range: entry 25% cover 75%;
}
